#banner {
	display: block;
	max-height: 150px;
	max-width: 60%;
	width: 75%;
	margin-left: 20%;
}
#home {
	max-width: 40px;
	display: inline-block;
}
#basket {
	width: 60%;
	max-width: 30px;
	margin-left: 25px;
	margin-top: 10px;
	display: block;
	float: right;
	position: relative;
	margin-bottom: 5%;
}
#icon {
	width: 6%;
	max-width:40px;
	margin-right: 12%;
	margin-left: 12%;
	display: inline-block;
	justify-items: auto;
}