body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
  }
  
  .navbar {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .dropCdown {
	float: left;
	overflow: hidden;
  }
  
  .dropCdown .dropCbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: rgb(0, 0, 0);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropCdown:hover .dropCbtn {
	/* background-color:  #b99f9f9a; */
	transition: all ease 0.5s
  }
  
  .dropCdown-content {
	display: none;
	position: absolute;
	background-color: #b99f9f9a;
	min-width: 160px;
	box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropCdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropCdown-content a:hover {
	background-color: #ddd;
	transition: all ease 0.5s;
  }
  
  .dropCdown:hover .dropCdown-content {
	display: block;
  }